[submodule "robot_ws/src/livox_ros_driver2"]
        path = robot_ws/src/livox_ros_driver2
        url = https://github.com/UFMG-Petrobras-OP-1319/livox_ros_driver2.git
[submodule "robot_ws/src/Livox-SDK2"]
        path = robot_ws/src/Livox-SDK2
        url = https://github.com/UFMG-Petrobras-OP-1319/Livox-SDK2.git
[submodule "robot_ws/src/scout-bringup"]
        path = robot_ws/src/scout-bringup
        url = https://github.com/UFMG-Petrobras-OP-1319/scout-bringup.git
[submodule "robot_ws/src/scout_ros2"]
        path = robot_ws/src/scout_ros2
        url = https://github.com/agilexrobotics/scout_ros2.git
[submodule "robot_ws/src/ugv_sdk"]
        path = robot_ws/src/ugv_sdk
        url = https://github.com/agilexrobotics/ugv_sdk.git
[submodule "robot_ws/src/pointcloud_to_laserscan"]
        path = robot_ws/src/pointcloud_to_laserscan
        url = https://github.com/MACRO-UFMG/pointcloud_to_laserscan.git
[submodule "robot_ws/src/FAST_LIO_ROS2"]
        path = robot_ws/src/FAST_LIO_ROS2
        url = https://github.com/MACRO-UFMG/FAST_LIO_ROS2.git
[submodule "robot_ws/src/librealsense"]
        path = robot_ws/src/librealsense
        url = https://github.com/IntelRealSense/librealsense.git
[submodule "robot_ws/src/realsense-ros"]
        path = robot_ws/src/realsense-ros
        url = https://github.com/IntelRealSense/realsense-ros.git
        branch = ros2-development
[submodule "robot_ws/src/mocap_optitrack"]
        path = robot_ws/src/mocap_optitrack
        url = https://github.com/Gerjen100/mocap_optitrack.git
[submodule "robot_ws/src/velodyne"]
        path = robot_ws/src/velodyne
        url = https://github.com/MACRO-UFMG/velodyne.git
